* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.report-hero {
    background: #0b2540;
    color: #fff;
    padding: 70px 0;
    margin-top: 100px !important;
}

.reports-list {
    padding: 80px 0;
    background: #f8fafc;
}

/* Card */
.report-card {
    background: #fff;
    padding: 22px;
    border-radius: 16px;

    height: 100%;

    border: 1px solid #e6ecf5;
    transition: .3s;
}

.report-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 18px 30px rgba(0, 0, 0, .08);
}

/* Tag */
.tag {
    background: #fff1e0;
    color: #f39200;

    padding: 5px 10px;
    border-radius: 8px;

    font-size: 12px;
}

/* Meta */
.meta {
    display: flex;
    gap: 10px;

    font-size: 13px;
    margin: 8px 0;
}

/* Buttons */
.btn-download {
    background: #0b2540;
    color: #fff;
}

.btn-request {
    background: #f1f4f9;
}

@media(max-width:768px) {
    .reports-list {
        padding: 50px 10px;
    }
}