*{
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
}

a{
    text-decoration: none !important;
}


li{
    list-style-type: none !important;
}


.success-section{
  padding:100px 0;
  background:#f6f9ff;
}

.success-card{
  background:#fff;
  max-width:760px;
  margin:auto;

  padding:40px;
  border-radius:18px;

  box-shadow:0 20px 40px rgba(0,0,0,.06);
}

.icon{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: green;
  color: white;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0 !important;
}

.next{
  text-align:left;
  margin:22px 0;
}

.next ul{
  padding-left:18px;
}

.actions{
  display:flex;
  gap:12px;
  justify-content:center;
}

.btn-main{
  background:#0b2540;
  color:#fff;
}

.btn-main:hover{
  background:#123a64;
  color:#fff;
}
